Name: Kirtan Soni
Education: Pursuing Masters in Software  Engineering ,At Arizona State University.
Skills: Python, C++, Java, Javascript, Tensorflow with Udemy certificate, React.js, node.js, Scripting.
All Microsoft applications ( word etc) Management, public speaking
Experience:
1. Tutoring and designing a course of a bridge course at Dharmsinh Desai University.
2. Mentor in Google Developer Student club, seminars. Gave seminar in ASU for Machine learning,
Took seminars, mentor other people.
3. Extensive field work for National Cadet Corps (India)